.header {
  background-color: #009DF5;
}

.logo {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-self: center;
}

.options {
  margin: auto;
}

.search {
  flex-flow: nowrap;
}
