<header class="header d-flex">
  <div class="col-6 d-flex align-self-center">
    <a button-flat-icon class="text-dark" href="/"><mat-icon class="logo">fact_check</mat-icon></a>
    <h1 class="mt-2">To Do List App</h1>
    </div>
  <div class="col-4 align-self-center d-flex justify-content-end">
  </div>
  <div class="col-2 align-self-center d-flex justify-content-end">
    <a mat-icon-button class="text-dark" href="#"><mat-icon>home</mat-icon></a>
    <a mat-icon-button class="text-dark" href="#"><mat-icon>login</mat-icon></a>
    <a mat-icon-button class="text-dark" href="#"><mat-icon>settings</mat-icon></a>
  </div>
</header>
