<header class="header d-flex">
  <div class="col-2">
    logo
  </div>
  <div class="col-8 align-self-center d-flex justify-content-center">
    <form class='form-inline search' action="/search" method="post">
      <input type="search" placeholder="Quick find" name="query">
      <button type="submit" value="search"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="col-2 align-self-center d-flex justify-content-end">
    <a class="mx-2" href="">home</a>
    <a class="mx-2" href="">login</a>
    <a class="mx-2" href="">config</a>
  </div>
</header>
