<h1>{{title}}</h1>

<button type="button" class="btn btn-primary btn-sm">Add Task</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Priority</th>
      <th scope="col">Done</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of todo">
      <th scope="row">1</th>
      <td>{{task.label}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.done ? '&#10003;' : '&#10005;'}}</td>
      <td><button (click) = "deleteTask(task)">Delete</button></td>
    </tr>
  </tbody>
</table>