<aside class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="">All task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Upcoming task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Important</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Cleaning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Started</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">In process</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Done</a>
    </li>
  </ul>
</aside>